:root {
	--backgroundColor: #111111;
	--yellow: #ffff80;
	--orange-darker: #ff9f1b;
	--white: #f4f4f4;

	--bodyFont: 'Inter', sans-serif;
	--gradientDegree: 95deg;
}

* {
	box-sizing: border-box;
	color: var(--white);
	font-family: var(--bodyFont);
}

html,
body,
div#__next {
	margin: 0;
	min-height: 100vh;
	padding: 0;
}

html {
	background: var(--backgroundColor);
}

.main {
	display: flex;
	flex: 1;
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}

.gradient {
	background-size: 100%;
	background-clip: text;
	background-image: linear-gradient(
		var(--gradientDegree),
		var(--yellow) 0%,
		var(--orange-darker) 75%
	);

	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-webkit-box-decoration-break: clone;
}

@font-face {
	font-family: 'Inter';
	src: url('/static/font/Inter-Bold.woff2') format('woff2'),
	url('/static/font/Inter-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
